input[type="button"] {
  background-color: green;
  color: black;
  border: solid black 2px;
  width: 100%;
  padding: 25px;
}

#add, #sub, #mult, #div, #equal, #dec, #clear, #back {
  background-color: rgb(36, 202, 36);
}

input[type="text"] {
  text-align: right;
  background-color: white;
  border: solid black 2px;
  width: 100%;
  padding: 25px;
}

table {
  height: 450px;
}

#calc {
  font-size: x-large;
}